* {
  padding: 0;
  margin: 0;
}
.main {
  background: url(https://mobirise.com/extensions/growthm5/logo-studio/assets/images/pexels-life-of-pix-7974.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100vh;
}
nav {
  /* padding: 20px 10px 0px 0px; */
  background-color: whitesmoke;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
  position: fixed;
  width: 96%;
}
.logo {
  font-size: 30px;
  padding-left: 79px;
  font-weight: bold;
  padding-top: 9px;
}

.rightC {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  gap: 98px;
}
ul {
  display: flex;
  gap: 29px;
  padding-top: 7px;
}
.rightC ul li {
  margin: 0 20px;
  font-size: 25px;
  list-style: none;
}
.rightC ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.main1 {
  text-align: center;
  padding-top: 320px;
}
.main1 h3 {
  padding-bottom: 30px;
  color: rgba(245, 245, 245, 0.764);
}
.main1 h1 {
  font-size: 80px;
  color: white;
  padding-bottom: 40px;
}
.main1 .btn1 {
}
.btn1 {
  background-color: #fffd88;
  border: none;
  border-radius: 50px;
  padding: 17px 38px;
  margin-top: -6px;
  font-size: 17px;
  font-weight: bold;
}

.btn1:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  border: 1px solid white;
}

/* main2 */

.main2 {
  display: flex;
  padding: 100px 150px 200px 150px;
  font-size: 30px;
  gap: 50px;
}

.main2 h1 p {
  text-align: center;
  width: 500px;
}
.main2 img {
  width: 500px;
}

/* main3 */

.main3 {
  display: flex;
  padding: 100px;
  font-size: 30px;
  gap: 50px;
  text-align: center;
}
.main3 h2 {
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 15px;
}
.main3 p {
  color: rgba(34, 32, 32, 0.626);
}
.main3 img {
  width: 300px;
  height: 400px;
  border-radius: 120px;
}
.main3 .img2 {
  padding-top: 70px;
}

/* main4 */

.main4 {
  text-align: center;
  font-size: 30px;
  width: 400px;
  padding-left: 530px;
}
.main4 img {
  width: 500px;
  margin-top: 30px;
  border-radius: 40px;
  margin-bottom: 50px;
}

/* main5 */

.main5 {
  color: #fffd88;
  display: flex;
  background: #000;
  gap: 40px;
  /* height: 500px; */
  font-size: 36px;
  text-align: center;
  margin: 20px;
}
.main5Image img {
  width: 500px;
  height: auto;
  margin-left: 10px;
}

.main5Para {
  padding: 120px 20px;
}

.main5para h4 {
  font-size: 130px;
}

/* main6 */

.main6 {
  text-align: center;
  padding: 100px 0px;
}
.main6 h1 {
  font-size: 50px;
  padding: 40px 0px;
  margin-bottom: 30px;
}
.main6 .img {
  display: flex;
  justify-content: space-evenly;
}
.main7 {
  background-color: rgba(255, 255, 0, 0.445);
  height: 65vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* main7 */

.main7 h1 {
  font-size: 50px;
  padding-top: 40px;
  padding-bottom: 20px;
}
.main7 li {
  font-size: 30px;
  margin: 50px;
  list-style: none;
}

/* main8 */

.main8 {
  background: url(https://mobirise.com/extensions/growthm5/logo-studio/assets/images/pexels-miguel-padrin-1111371.jpg);
  height: 60vh;
  text-align: center;
  margin: 100px;
  border-radius: 50px;
}
.main8 h1 {
  padding: 100px;
  font-size: 60px;
  font-weight: lighter;
  color: rgb(110, 70, 70);
}
.main8 .btn1 {
}

.main8:hover {
}

/* main9 */

.main9 {
  background-color: #000;
  height: 100vh;
  color: white;
  text-align: center;
  margin: 100px 0px;
  padding: 50px;
}
.main9 h1 {
  font-size: 60px;
  color: rgb(231, 216, 216);
  /* padding: 35px 311px; */
  width: 622px;
  margin-left: 400px;
}
.main9 p {
  font-size: 30px;
  padding: 43px 316px;
  text-align: center;
  margin: 30px;
}

.main9 img {
  margin: 20px;
}

/* main 10 */
.sec10 {
}
.sec10Main {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
.sec10MainFirst {
  border: 1px solid white;
  border-radius: 20px 20px 0 0;
  transition: 0.2s all linear;
}
.sec10MainFirst:hover {
  /* border: 1px solid blue; */
  border-radius: 20px 20px 0 0;
  box-shadow: 6px 4px 9px 5px rgba(0, 0, 255, 0.171);
}
.sec10MainFirstImg {
}

.sec10MainFirstImg img {
  width: 300px;
  height: 200px;
  border-radius: 20px 20px 0 0;
  transition: 0.2s all linear;
}
.sec10MainFirstImg img:hover {
  box-shadow: 6px 4px 9px 5px rgba(0, 0, 255, 0.171);
}
.sec10MainFirstImg p {
  font-size: 21px;
  color: gray;
  text-align: center;
  margin-top: 15px;
}
.sec10MainFirstImg2 {
  display: flex;
  gap: 10px;
  margin-top: 100px;
  color: gray;
  padding-bottom: 50px;
  padding-left: 10px;
}

.sec10MainFirstImg2 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.sec10MainFirstImg2 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.sec10MainFirstImg2 h1 {
  font-size: 24px;
  padding-top: 11px;
}

/* main 11 */

.main11 {
  padding: 50px;
}

.main11 h1 {
  text-align: center;
  margin: 20px;
  color: rgb(189, 168, 45);
}

.main11-one {
  display: flex;
  justify-content: center;
  gap: 50px;
  text-align: center;
  color: rgb(190, 167, 34);
}
.main11-one img {
  width: 400px;
  height: 400px;
  gap: 50px;
  justify-content: center;
  border-radius: 50px;
}

.main11-one h1 {
  font-size: 35px;
  font-weight: 1px;
}

.main11-one p {
  font-size: 30px;
}

/* section12 */

.sec12 {
  padding: 50px;
  text-align: center;
  position: relative;
}

.sec12 img {
  border-radius: 20px;
}

.sec12icon {
  position: absolute;
  border: 2px solid black;
  position: absolute;
  right: 100px;
  top: 300px;
  margin-right: 600px;
  border-radius: 50px;
  padding: 24px 32px;
  font-size: 35px;
}

/* main 13 */

.main13 {
  text-align: center;
  background-color: #ffff06;
  font-size: 40px;
  margin-top: 100px;
  padding: 20px 0;
}

.main13 h1 {
  margin-bottom: 30px;
}

.main13 input {
  background: transparent;
  outline: none;
  width: 300px;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 25px;
}

/* main 14 */

.main14 {
  margin: 0px;
  background-color: #000;
  color: white;
  width: 100%;
  height: 50px;
}
.main14 p {
  text-align: center;
  padding-top: 15px;
  font-size: 25px;
}
